<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risk.warning.model.PanoramicWarningDataMapper">
  <resultMap id="BaseResultMap" type="com.risk.warning.model.PanoramicWarningData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="FactoryName" jdbcType="VARCHAR" property="factoryname" />
    <result column="SectionName" jdbcType="VARCHAR" property="sectionname" />
    <result column="DeviceName" jdbcType="VARCHAR" property="devicename" />
    <result column="EventName" jdbcType="VARCHAR" property="eventname" />
    <result column="StrEvent" jdbcType="VARCHAR" property="strevent" />
    <result column="EventValue" jdbcType="DOUBLE" property="eventvalue" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="Ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="Utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="SourceID" jdbcType="INTEGER" property="sourceid" />
    <result column="WarnConfigurationID" jdbcType="INTEGER" property="warnconfigurationid" />
    <result column="Level" jdbcType="INTEGER" property="level" />
    <result column="IsSendEmail" jdbcType="BIT" property="issendemail" />
  </resultMap>
</mapper>