<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risk.warning.mapper.PanoramicSystemConfigurationnewMapper">
  <resultMap id="BaseResultMap" type="com.risk.warning.model.PanoramicSystemConfigurationnew">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="warning_name" jdbcType="VARCHAR" property="warningName" />
    <result column="warn_type" jdbcType="INTEGER" property="warnType" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="section_name" jdbcType="VARCHAR" property="sectionName" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="str_sub" jdbcType="VARCHAR" property="strSub" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="min_value" jdbcType="DOUBLE" property="minValue" />
    <result column="max_value" jdbcType="DOUBLE" property="maxValue" />
    <result column="data_base_address" jdbcType="VARCHAR" property="dataBaseAddress" />
    <result column="data_base_name" jdbcType="VARCHAR" property="dataBaseName" />
    <result column="data_base_table" jdbcType="VARCHAR" property="dataBaseTable" />
    <result column="data_base_type" jdbcType="VARCHAR" property="dataBaseType" />
    <result column="str_event" jdbcType="VARCHAR" property="strEvent" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="interval_time" jdbcType="INTEGER" property="intervalTime" />
    <result column="str_sub_event" jdbcType="VARCHAR" property="strSubEvent" />
    <result column="str_sub_event_name" jdbcType="VARCHAR" property="strSubEventName" />
    <result column="str_sub_event_value" jdbcType="VARCHAR" property="strSubEventValue" />
    <result column="str_date_event" jdbcType="VARCHAR" property="strDateEvent" />
    <result column="str_date_event_type" jdbcType="INTEGER" property="strDateEventType" />
    <result column="max_level" jdbcType="INTEGER" property="maxLevel" />
    <result column="level_up_Time" jdbcType="INTEGER" property="levelUpTime" />
    <result column="logic_type" jdbcType="INTEGER" property="logicType" />
  </resultMap>
</mapper>