<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risk.warning.mapper.PanoramicSystemSqlqueryMapper">
  <resultMap id="BaseResultMap" type="com.risk.warning.model.PanoramicSystemSqlquery">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="warn_configuration_id" jdbcType="INTEGER" property="warnConfigurationId" />
    <result column="query_sql" jdbcType="VARCHAR" property="querySql" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="interval_time" jdbcType="INTEGER" property="intervalTime" />
    <result column="last_excute_time" jdbcType="TIMESTAMP" property="lastExcuteTime" />
  </resultMap>
</mapper>