<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.onwayorder.PanoramicOnWayOrderMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.onwayorder.PanoramicOnWayOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_order_no" jdbcType="VARCHAR" property="userOrderNo" />
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress" />
    <result column="send_name" jdbcType="VARCHAR" property="sendName" />
    <result column="send_mobile" jdbcType="VARCHAR" property="sendMobile" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="receive_mobile" jdbcType="VARCHAR" property="receiveMobile" />
    <result column="request_receive_time" jdbcType="DATE" property="requestReceiveTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="current_status" jdbcType="VARCHAR" property="currentStatus" />
    <result column="current_trans_type" jdbcType="VARCHAR" property="currentTransType" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="from_org_code" jdbcType="VARCHAR" property="fromOrgCode" />
    <result column="from_time" jdbcType="TIMESTAMP" property="fromTime" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
  </resultMap>
</mapper>